doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sample Page
    link(rel="stylesheet" href="/css/main.css")

  body
    div(align="left") Lipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div(align="right") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div(align="center") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div(align="justify") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  main 
    article.mt-11
      div
        div.flex
          div.lg
            h2.pb-4 Systèmes
            p allsafe développe et conçoit des arrimages de charges pour différents véhicules et cas d'application. Vous trouverez dans notre gamme des produits compatibles pour les camionnettes, les véhicules bâchés et les fourgons à caisse mobile. Vous trouverez également en ligne toutes les informations concernant nos systèmes dans nos brochures allsafe développe et conçoit des arrimages de charges pour différents véhicules et cas d'application. Vous trouverez dans notre gamme des produits compatibles pour les camionnettes, les véhicules bâchés et les fourgons à caisse mobile. Vous trouverez également en ligne toutes les informations concernant nos systèmes dans nos brochures
              a.text-primary(href="https://cms.allsafe24.com/assets/38fe2b05-7385-4800-a3d2-4b2757fc094f" target="_blank" rel="noreferrer") Configurateur Véhicules Utilitaires Légers et
              a.text-primary(href="https://cms.allsafe24.com/assets/bad707a0-47ba-45a1-af85-7a2ea083cc11" target="_blank" rel="noreferrer") Configurateur Poids Lourds
          div.lg
            img.w-full(src={TeaserTransporter}, alt="Teaser_Transporter")
            img.w-full(src={TeaserLKW}, alt="Teaser_LKW")
        div.mt-8
          section.mt-14
            div.xl
              img.w-full(src={Cargobikes}, alt="Cargobikes")
            h3.font-bold Systèmes pour vélos-cargos
            p.grow Deux, trois roues ou plus - un arrimage professionnel des charges est indispensable. De cette manière, les marchandises, et surtout le conducteur, arrivent indemnes à destination. Avec nos produits librement combinables, nous développons également le concept optimal pour sécuriser votre chargement sur un vélo-cargo. Deux, trois roues ou plus - un arrimage professionnel des charges est indispensable. De cette manière, les marchandises, et surtout le conducteur, arrivent indemnes à destination. Avec nos produits librement combinables, nous développons également le concept optimal pour sécuriser votre chargement sur un vélo-cargo.
            button.bg-allsafeAccent 
              a.justify-center(href="https://bike.allsafe24.com/" target="_blank" rel="noreferrer") Visualiser les systèmes pour vélos-cargos
          section.mt-14
            div.xl
              img.w-full(src={CamperVan}, alt="CamperVan")
            h3.font-bold Systèmes pour soutes arrière
            p.pb-5 Nous proposons des solutions individuelles pour sécuriser et optimez l'espace de chargement dans la soute du camping-car. Cela concerne aussi bien les nouveaux véhicules que les soutes d’un véhicule d'occasion. Nous proposons des solutions individuelles pour sécuriser et optimez l'espace de chargement dans la soute du camping-car. Cela concerne aussi bien les nouveaux véhicules que les soutes d’un véhicule d'occasion.
            button.bg-allsafeAccent
              a.flex-row(href="https://campingcar.allsafe24.com/" target="_blank" rel="noreferrer") Visualiser les systèmes pour soutes
